@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
font-family: "Oswald", sans-serif;
font-family: "Poppins", sans-serif;
*/

/* Estilos Generales */
body {
    font-family: "Poppins", sans-serif;;
    line-height: 1.6;
    background-color: #fdfbfb;
    margin: 0;
    padding: 0;
}

/* Navegación */
.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    height: 50px;
    margin-right: 10px;
}

.form-inline .form-control {
    width: 250px;
}

.nav-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;

}

.nav-list li a:hover {
    color: #fefeff;
    background-color: #add2fd;
}

/* Header */
.header {
    display: flex;
    background-size: cover;
    background-position: center;
    color: #0f0f0f;
    padding: 60px 0;
    text-align: center;

}

.header .header-content {
    max-width: 900px;
    margin: 0 auto;
}

.header-img img {
    max-width: 100%;
    background-color: #d8e2ec;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header-txt h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.header-txt h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.header-txt p {
    font-size: 1.2rem;
    font-weight: 300;
}

/* Contenido Central */
.container.mt-4 {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#device-list .card {
    margin-bottom: 20px;
    border-radius: 10px;
    transition: transform 0.2s;
}

#device-list .card:hover {
    transform: translateY(-5px);
}



/* Responsive */
@media (max-width: 768px) {
    .header .header-content {
        text-align: center;
    }

    .header-txt h1 {
        font-size: 2rem;
    }

    .header-txt h2 {
        font-size: 1.5rem;
    }

    .form-inline .form-control {
        width: 100%;
    }
}
/* Detalle*/
.card1, .card2 {
    background: rgb(203, 225, 240);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
}
.card1 .card-body, .card2 .card-body {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    color: #333;
}

.card-text {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

.card-text strong {
    color: #333;
}
.card1 img{
    height: 200px;
    margin-left: 100px;

}

.list-group-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
}
#form-comentario {
    margin: 20px 0;
}

#form-comentario input, #form-comentario textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#form-comentario button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#form-comentario button:hover {
    background-color: #0056b3;
}

#detalle-dispositivo {
    margin-bottom: 20px;
}

.comentarios {
    margin-top: 20px;
}

/* Estilos para el contenedor principal */
.container {
    padding: 20px;
    background-color: rgb(111, 208, 247); 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

h5 {
    font-size: 1.25rem; 
    font-weight: bold; 
    margin-bottom: 10px; 
}

.form-group {
    margin-bottom: 5px; 
}

.form-group label {
    display: block; 
    font-size: 1rem; 
    font-weight: normal; 
    margin-bottom: 5px; 
    color: #333; 
}

